.divo{
    margin-top: 5px;
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid saddlebrown;
}
h1{

    margin: 5px;
    padding: 10px;
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

button{
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    border: 2px solid sienna;
    border-radius: 10px;
    background-color: sandybrown;

}

h2{
    margin: 5px;
    padding: 10px;
    color: plum;
}
