button{
    margin-right: 150px;
    padding: 10px;
    font-size: 30px;
    background-color: orange;
    border: 1px solid saddlebrown;
    border-radius: 50%;
    width: 100px;
    height: 80px;
    cursor: pointer;
}
span{
    font-size: 40px;
    margin-right:80px ;
}
.divo{
    padding: 10px;
    background-color: beige;
    overflow: scroll;
}